In [36]:
import pandas as pd
from sqlalchemy import create_engine

In [37]:
nbadra = ".//Resources/NBA_1980_2017.csv" 
nbadra_df = pd.read_csv(nbadra)

nbadra_df.dropna(subset=['player'], inplace=True)
nbadra_df.head()

   year  round  pick              player position        school
0  1980      1     1  Carroll, Joe Barry      F/C        Purdue
1  1980      1     2   Griffith, Darrell        G    Louisville
2  1980      1     3       McHale, Kevin      F/C     Minnesota
3  1980      1     4      Ransey, Kelvin        G    Ohio State
4  1980      1     5          Ray, James        F  Jacksonville

In [38]:
finalNba =nbadra_df.rename(index=str, columns={'year':'YEAR','round':'ROUND','pick':'PICK','position':'POSITION','school':'COLLEGE',"player": "PLAYER"})
finalNba.head(10)

   YEAR  ROUND  PICK              PLAYER POSITION                 COLLEGE
0  1980      1     1  Carroll, Joe Barry      F/C                  Purdue
1  1980      1     2   Griffith, Darrell        G              Louisville
2  1980      1     3       McHale, Kevin      F/C               Minnesota
3  1980      1     4      Ransey, Kelvin        G              Ohio State
4  1980      1     5          Ray, James        F            Jacksonville
5  1980      1     6       O'Koren, Mike      G/F          North Carolina
6  1980      1     7       Gminski, Mike        C                    Duke
7  1980      1     8       Toney, Andrew        G  Southwestern Louisiana
8  1980      1     9     Brooks, Michael        F                La Salle
9  1980      1    10      Lester, Ronnie        G                    Iowa

In [ ]:
ncaab = ".//Resources/NCAAB.csv"
ncaab_df = pd.read_csv(ncaab)
ncaab_df.head()

In [ ]:
ncaab_df = ncaab_df.rename(columns={"CHAMPION (RECORD)": "Champion"})

In [ ]:
ncaab_df.head()

In [ ]:
ncaab_df["Champion"] = ncaab_df.Champion.str.split("(", expand = True)
ncaab_df.head()

In [ ]:
# Create a filtered dataframe from specific columns
ncaab_cols = ["YEAR", "Champion", "COACH"]
ncaab_transformed= ncaab_df[ncaab_cols].copy()

ncaab_transformed.head()

In [ ]:
#Pick NBA players datafile
nba_players = ".//Resources/NBABirth.csv"
nba_players_df = pd.read_csv(nba_players)
nba_players_df.head()

In [ ]:
#Pick player birthdate and city
player_df = nba_players_df[["Player","Date","City","State"]].copy()
player_df.head()

In [ ]:
player_df["Date"] = player_df.Date.str.split(",", expand = True)
player_df["Month"] = player_df["Date"].str[:3]
player_df.head()

In [ ]:
#Take the columns needed
player_df1 = player_df[["Player","Month","City","State"]].copy()
player_df1.head()

In [ ]:
player_df1.rename(columns={"Player":"PLAYER",'Month':'MONTH','City':'CITY','State':'STATE'},inplace=True)
player_df1.head()

In [ ]:
#Connect to local database

In [39]:
rds_connection_string = "root:Eight1one@localhost:3306/sports_db"
engine = create_engine(f'mysql+pymysql://{rds_connection_string}')

In [40]:
engine.table_names()

['NBA_player_CSM', 'NBA_player_school', 'NCAAF_data', 'NFL_data']

In [ ]:
player_df1.to_sql(name='NBA_player_CSM', con=engine, if_exists='append', index=False)

In [41]:
finalNba.to_sql(name='NBA_player_school', con=engine, if_exists='append', index=False)